<%- include('includes/head') %> <%- include('includes/nav') %>

<div class="container my-5">
  <h1 class="text-center fw-bold">Agenda</h1>
  <p class="text-center text-muted fs-5">Seus contatos estão abaixo</p>

  <div class="alert alert-danger text-center" role="alert">
    Um erro qualquer
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Telefone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Luiz</td>
        <td>Otávio</td>
        <td>56632235656</td>
        <td>otaviomiranda@gmail.com</td>
      </tr>
    </tbody>
  </table>
</div>

<%- include('includes/footer') %>
